{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Hey there! Register as a customer</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Email</label>
                {% render_field form.username class="form-control" %}
            </div>

            <div class="mb-3">
                <label class="form-label">Username</label>
                {% render_field form.username class="form-control" %}
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                {% render_field form.password1 class="form-control" %}
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                {% render_field form.password2 class="form-control" %}
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}