{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Login to Continue!</h5>
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Username</label>
                <input type="input" class="form-control" id="exampleInputEmail" aria-describedby="emailHeader">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}